@font-face {
  font-family: 'Franklin Light';
  src: url("./assets/franklin-normal-500.ttf");
}

@font-face {
  font-family: "Franklin";
  src: url("./assets/franklin-normal-600.ttf");
}

@font-face {
  font-family: "Franklin Bold";
  src: url("./assets/franklin-normal-700.ttf");
}

@font-face {
  font-family: "Karnak Condensed";
  src: url("./assets/karnakpro-condensedblack.ttf");
}

$item-grey: #efefe6;
$selected-color: #5a594e;
$yellow: #f9df6d;
$green: #a0c35a;
$blue: #b0c4ef;
$purple: #ba81c5;
$disabled: #7f7f7f;

h1 {
  font-family: 'Karnak Condensed', serif;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 42px;
}

h2,
h3,
h4 {
  font-family: 'Franklin Bold', sans-serif;
}

p {
  font-family: 'Franklin Light', sans-serif;
}

button {
  font-family: 'Franklin', sans-serif;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  width: fit-content;
  min-width: 5.5em;
  height: 3em;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 15px;
  max-width: 80vw;
  border-radius: 32px;
  line-height: 16px;
  cursor: pointer;
  border: black solid 1px;
  background: white;
  color: black;
}

form {
  padding: 20px;
  text-align: left;
}

label {
  padding: 5px 0;
  display: block;
}

input {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid black;
}

.App {
  text-align: center;
  padding-bottom: 20px;
}

.container {
  width: 600px;
  margin: 50px auto;
  text-align: center;
}

.container-header {
  padding: 0 20px;

  a {
    color: $green;
    text-decoration: underline;
  }
}

.instructions {
  text-align: left;
  width: 150px;
  margin: 20px auto 0;
}

.help-emojis {
  display: flex;
  flex-direction: column;
  position: relative;

  >div {
    display: inline-flex;
    align-items: center;
    height: 20px;
  }
}

.help-emoji {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border-radius: 2px;
  margin-bottom: 1.5px;

  &.group-0 {
    background: $yellow;
  }

  &.group-1 {
    background: $green;
  }

  &.group-2 {
    background: $blue;
  }

  &.group-3 {
    background: $purple;
  }
}

#help-arrow {
  height: 2.2rem;
  left: 2.6rem;
  bottom: 1.4rem;
  position: absolute;
}

.category-form-wrapper {
  border-radius: 3px;
  padding: 10px;
  margin: 5px 0;
  position: relative;

  label {
    padding: 5px;
  }

  >label {
    width: 90%;
  }

  &:nth-of-type(1) {
    background: $yellow;
  }

  &:nth-of-type(2) {
    background: $green;
  }

  &:nth-of-type(3) {
    background: $blue;
  }

  &:nth-of-type(4) {
    background: $purple;
  }
}

.order-buttons {
  position: absolute;
  top: 20px;
  right: 15px;

  button {
    background: black;
    color: white;
    margin: 2px;
    min-width: 0;
    height: auto;
    padding: 3px 7px;
    font-size: 12px;
    border-radius: 3px;

    &:disabled {
      background: $disabled;
      border-color: $disabled;
      cursor:not-allowed;
    }
  }
}

.category-items-wrapper {
  display: flex;
  flex-wrap: wrap;

  label {
    width: 50%;
  }
}

.game-link {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    margin: 10px 0;
  }
}

.header {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px;

  h1 {
    margin-right: 16px;
  }

  h2 {
    font-family: 'Franklin Light', sans-serif;
    display: inline-block;
    font-size: 28px;
    font-weight: 300;
  }

  img {
    width: 204px;
    flex-shrink: 0;
    margin-right: 16px;
  }

  .title {
    display: flex;
    align-items: center;
  }
}

.nav-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  font-family: "Franklin";
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .047em;
  text-transform: uppercase;
  height: 36px;
  border: 1px solid #f4f4f4;
  border-radius: 3px;
  color: #fff;
  border-color: #000;
  background-color: #000;
  margin-left: 8px;
  padding: 1px 33px 4px;
  cursor: pointer;
}

.connections-wrapper {
  width: 632px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.row-complete-wrapper {
  border-radius: 6px;
  display: flex;
  align-content: center;
  justify-content: center;
  height: 80px;
  width: 624px;
  flex-wrap: wrap;
  margin: 4px;

  &.level-0 {
    background: $yellow;
  }

  &.level-1 {
    background: $green;
  }

  &.level-2 {
    background: $blue;
  }

  &.level-3 {
    background: $purple;
  }

  .complete-header {
    width: 100%;
  }

  h3 {
    font-family: "Franklin Bold", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  p {
    margin: 0;
    font-family: "Franklin", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
  }
}

.row-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 150px;
  height: 80px;
  margin: 4px;
  font-size: 16px;
  background-color: $item-grey;
  color: black;
  outline: none;
  text-align: center;
  font-family: "Franklin Bold", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 6px;
  z-index: 0;
  // position: absolute;
  transition: opacity 0.4s ease;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  overflow: hidden;
  word-break: break-word;
  text-overflow: ellipsis;
  padding: 0 4px;

  &.selected {
    color: white;
    background: $selected-color;
  }
}

.mistakes-container {
  display: flex;
  justify-content: center;
  padding: 0 0 20px;
}

.bubbles-container {
  display: flex;
  justify-content: flex-start;
  width: 118px;
  align-items: center;
  margin-left: 10px;
}

.bubble {
  background-color: $selected-color;
  width: 16px;
  height: 16px;
  border-radius: 9999px;
  margin: 0 7px;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#deselect-all-button {
  width: 120px;
}

#submit-button[disabled] {
  border-color: #7f7f7f;
  background-color: white;
  color: #7f7f7f;
  cursor: not-allowed;
}

#submit-button {
  background: black;
  color: white;
}

.invalid-shake {
  animation: shake ease-in 0.2s 1.5;
}

#toast {
  visibility: hidden;
  font-family: 'NYT-Franklin';
  position: fixed;
  left: 50%;
  transform: translateX(calc(-50% - 30px));
  margin: 30px;
  background-color: black;
  color: white;
  padding: 13px;
  border: none;
  border-radius: 4px;
  opacity: 1;
  font-size: 14px;
  line-height: 16px;
  z-index: 100;
  text-align: center;

  &.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2s forwards;
  }

  p {
    color: white;
    margin: 0;
  }
}

#popup {
  position: absolute;
  z-index: 8;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  display: none;

  &.show {
    display: flex;
  }
}

#popup-content {
  width: 100%;
  max-width: 520px;
  padding: 32px;
  animation: slideIn 200ms;
  box-shadow: 0 3px 12px -1px rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-family: 'Karnak Condensed', serif;
    font-size: 36px;
    margin: 8px 0 0 0;
    letter-spacing: 1px;
    font-weight: 100;
  }

  h3 {
    font-family: 'Franklin Light', sans-serif;
    font-weight: 100;
  }

  button {
    background: black;
    color: white;
  }
}

.close-x {
  color: black;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  background: center/24px 24px no-repeat;
  background-image: url(./assets/icon-close.svg);
  cursor: pointer;
}

#emoji-recap {
  margin: 10px 0;

  .emoji-row {
    display: flex;
  }
}

.emoji {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: black;
  margin: 2px 0px;

  &.yellow {
    background-color: $yellow;
  }

  &.green {
    background-color: $green;
  }

  &.blue {
    background-color: $blue;
  }

  &.purple {
    background-color: $purple;
  }
}

.page-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-page {
  width: 600px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  .nav-button {
    width: auto;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  .header {
    width: 100%;
    flex-direction: column;
  }

  .title {
    margin: 20px 0;
    flex-direction: column;

    h1 {
      margin: 0;
      line-height: 42px;
    }

    h2 {
      line-height: 28px;
    }
  }

  .connections-wrapper {
    width: 100%;
  }

  .row-complete-wrapper {
    width: 98%;
    margin: 1%;

    h3,
    p {
      font-size: 16px;
    }
  }

  .item {
    width: 23%;
    margin: 1%;
    font-size: 13px;
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translatex(0);
  }

  25% {
    transform: translateX(-5px);
  }

  75% {
    transform: translateX(5px);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateY(60px);
  }
}